/AssetsBundle_test/test
/AssetsBundle_test/Library
/AssetsBundle_test/obj
/AssetsBundle_test/scene.unitypackage
/AssetsBundle_test/Assembly-CSharp.csproj
/AssetsBundle_test/Assembly-CSharp-Editor.csproj
/AssetsBundle_test/Assembly-CSharp-Editor-firstpass.csproj
/AssetsBundle_test/Assembly-CSharp-firstpass.csproj
/AssetsBundle_test/Assembly-UnityScript-Editor-firstpass.unityproj
/AssetsBundle_test/Assembly-UnityScript-firstpass.unityproj
/AssetsBundle_test/assetbundle_test.unitypackage
/AssetsBundle_test/AssetsBundle_test.sln
/AssetsBundle_test/AssetsBundle_test.userprefs
/AssetsBundle_test/BakedGI_test.sln
/AssetsBundle_test/BakedGI_test.userprefs
